node_modules/

# environment variables
.env
.env*.local

# Next.js
.next/
.next/*
.next/**/*
out/
next-env.d.ts
.next/cache/
**/*.pack
**/*.pack.gz

# Build
dist/
build/
.vercel/

# Cache
.cache/
*.cache
.eslintcache

# Generated CSS
src/styles/output.css